.navbar-inverse{
  background-color:aqua;
}

.navbar-inverse .navbar-nav>.active>a{
  background-color:dodgerblue;
}

.navbar-inverse .navbar-nav>li>a{
  color:blue;
}

.navbar-inverse .navbar-brand{
  color:blue;
}
.navbar-inverse .navbar-nav>.active>a:hover {
   background-color:darkorange;
}